[submodule "Code/BaseEngine"]
	path = Code/BaseEngine
	url = https://github.com/jokagetto9/BaseEngine.git
[submodule "Code/Display"]
	path = Code/Display
	url = https://github.com/jokagetto9/ShaderHub.git
